:root {
  --white: #FFFFFF;
  --black: #000000;
  --background-shade: #8A9A5B;
  --button-hover: #808000;
  --dialog-background: #7E8750;
  --navbar-color: #333333;
  --background-menu: #E5E4E2;
  --background-color-box: lightgray;
  --border-color: #C0C0C0;
}
